html {
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.container-fluid{
	margin: 0;
	padding: 0;
	height: 100%;
}
.row{
	margin: 0;
	padding: 0;
	height: 100%;
}

.left-content{
	height: 100%;
	padding-top: 2.5%;
}

#admin-mode{
	float: right;
	font-size: 13px;
	margin-right: 20px;
	font-weight: bold;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: relative;
	display: block;
}

#profile-name{
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	left: 0;
	right: 0;
	padding-bottom: 30px;
	margin: 10px auto 0 auto;
	position: relative;
}

.section{
	width: 100%;
	padding: 15px 15px;
	border-top: 1px solid #000;
}
.section:hover{
	background-color: #0680f9;
	color: #fff;
	cursor: pointer;
}
.last-section{
	border-bottom: 1px solid #000;
}
.current{
	background-color: #0680f9;
	color: #fff;
}
.right-content{
	background-color: #fff;
	height: 100%;
	padding: 30px;
	overflow: scroll;
}

.right-content h3{
	color: #000;
}

.user-list{
	width: 100%;
	background-color: #fff;
	border-radius: 30px;
	padding: 20px;
	margin-top: 50px;
	border: 1px solid #000;
	float: right;
}

.content-2{
	display: none;
}

.content-3{
	display: none;
}
.content-4{
	display: none;
}

.content-5{
	display: none;
}
.btn-action{
	margin-top: 10px;
}

#sign-out{
	width: 50%;
	padding: 7px 0;
	background-color: crimson;
	color: #fff;
	margin: 0 auto;
}

.chart{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.download{
	float: right;
	margin-right: 5.5%;
	margin-top: 2%;
}

.post{
	width: 100%;
	padding: 20px 30px;
	background-color: #f3f4f6;
	border-radius: 20px;
	margin-top: 30px;
}
.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.top{
	width: 100%;
	display: inline-block;
}
.top-photo{
	width: 10%;
	display: inline-block;
	float: left;
}
.top-name{
	width: 90%;
	display: inline-block;
	float: right;
	padding-left: 10px;
}
.no-undr{
	text-decoration: none;
	color: #000;
}
.content-post{
	padding-top: 20px;
}

.lico-section{
	display: inline-block;
	float: right;
	margin-top: 10px;
}
.lico-button{
	color: #ADADAD;
}
.amount{
	padding-left: 5px;
}
.clear{
	clear: both;
}
.like-btn:hover{
	color: #000;
	cursor: pointer;
}
.comment-btn:hover{
	color: #000;
	cursor: pointer;
}
.comment-section{
	display: none;
}
.comment{
	width: 100%;
	display: inline-block;
	padding: 0;
	margin-top: 15px;
}
.image-profile{
	width: 10%;
	display: inline-block;
	float: left;
}
.com-sect{
	margin: 0;
	width: 90%;
	padding-left: 10px;
	display: inline-block;
	float: right;
}
.username{
	font-weight: 700;
	display: block;
	margin-bottom: 10px;
}
.isi-comment{
	margin-top: 5px;
}

.comment-form{
	width: 100%;
}
.input-comment{
	width: 90%;
	float: left;
	padding-right: 10px;
}
.comment-control{
	resize: none;
	height: 60px !important;
}
.send-comment{
	width: 10%;
	display: flex;
	float: right;
	align-items: center;
	justify-content: center;
	height: 60px;
}
.send{
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	color: #adadad;
	background-color: #005bf9;
	border-radius: 50%;
}

.send:hover{
	cursor: pointer;
	background-color: #0053d8;
}
.control{
	display: inline-block;
	float: right;
}

.control{
	display: inline-block;
	float: right;
}
.control button{
	width: 80px;
	margin-right: 5px;
}

.pending{
	color: #6a00ff;
}
.accepted{
	color: #17ef55;
}
.rejected{
	color: #f00;
}