html {
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.navbar{
	padding: 20px;
}
.navbar-nav .nav-item{
	margin-right: 20px;
}

#sign-out{
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}
#wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.profile-pic{
	width: 170px;
	height: 170px;
	border-radius: 50%;
}
.profile-pic:hover{
	cursor: pointer;
}
.container .row-profile{
	padding-top: 50px;
}
.profile-name{
	margin-top: 20px;
	line-height: 30px;
}
.username{
	font-size: 20px;
}

.info{
	width: 100%;
	margin-top: 25px;
}
.info-item{
	font-size: 17px;
	margin-top: 8px;
	display: block;
}

.post{
	width: 100%;
	padding: 20px 30px;
	background-color: #f3f4f6;
	border-radius: 20px;
	margin-top: 30px;
}
.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.top{
	width: 100%;
	display: inline-block;
}
.top-photo{
	width: 10%;
	display: inline-block;
	float: left;
}
.top-name{
	width: 90%;
	display: inline-block;
	float: right;
	padding-left: 10px;
}
.content-post{
	padding-top: 20px;
}

.lico-section{
	display: inline-block;
	float: right;
	margin-top: 10px;
}
.lico-button{
	color: #ADADAD;
}
.amount{
	padding-left: 5px;
}
.clear{
	clear: both;
}
.like-btn:hover{
	color: #000;
	cursor: pointer;
}
.comment-btn:hover{
	color: #000;
	cursor: pointer;
}
.comment-section{
	display: none;
}
.comment{
	width: 100%;
	display: inline-block;
	padding: 0;
	margin-top: 15px;
}
.image-profile{
	width: 10%;
	display: inline-block;
	float: left;
}
.com-sect{
	margin: 0;
	width: 90%;
	padding-left: 10px;
	display: inline-block;
	float: right;
}
.username{
	font-weight: 700;
	display: block;
	margin-bottom: 10px;
}
.isi-comment{
	margin-top: 5px;
}

.comment-form{
	width: 100%;
}
.input-comment{
	width: 90%;
	float: left;
	padding-right: 10px;
}
.comment-control{
	resize: none;
	height: 60px !important;
}
.send-comment{
	width: 10%;
	display: flex;
	float: right;
	align-items: center;
	justify-content: center;
	height: 60px;
}
.send{
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	color: #adadad;
	background-color: #005bf9;
	border-radius: 50%;
}

.send:hover{
	cursor: pointer;
	background-color: #0053d8;
}
.badges{
	width: 200px;
	height: auto;
}
.tab-content .tab-pane{
	padding: 20px;
}

.card-progress{
	margin-bottom: 30px;
}

.row-custom{
	width: 100%;
	padding: 10px 5px;
	display: inline-block;

}
.coloumn-1{
	width: 20%;
	display: inline-block;
	float: left;
	font-weight: 500;
}
.coloumn-2{
	width: 80%;
	display: inline-block;
	float: left;
	padding-left: 10px;
}
.card-badges{
	margin: 20px;
	display: inline-block;
}

.change-pic-pop-up{
	z-index: 3;
	display: none;
}
.w-40{
	width: 40%;
}
.mt-20{
	margin-top: 20px;
}
.c-black{
	color: #000;
}
#close{
	float: right;
	font-size: 23px;
}
#close:hover{
	cursor: pointer;
}
.card-change-pic{
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.black-wrapper{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	position: fixed;
	z-index: 2;
	
}
.change-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
#change-img-form{
	margin-top: 30px;
}

.share-wrapper{
	border: 1px solid #818384;
	padding: 30px;
	border-radius: 20px;
}
.share-wrapper h3{
	margin-bottom: 20px;
}

.likes:hover{
	cursor: pointer;
	text-decoration: underline;
}
.img-user{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

@media only screen and (max-width: 991px) {
	.container .row-profile .nav-info-user{
		padding-top: 40px;
	}
}
.control{
	display: inline-block;
	float: right;
}
.pending{
	color: #6a00ff;
}
.accepted{
	color: #17ef55;
}
.rejected{
	color: #f00;
}