@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
.nav-parent{
    padding: 20px;
}

.item-nav a{
    display: inline-block;
    margin-left: 40px;
    font-size: 16px;
}

.sign-in-btn{
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
}

.main-wrapper{
    width: 100%;
    padding: 30px 40px;
}

.img-ilustrasi{
    width: 100%;
    height: auto;
}

.content h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 60px;
}
.content h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 37px;
    margin-bottom: 20px;
}

.register-btn{
    font-size: 30px;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}

@media only screen and (max-width: 768px) {
	.img-ilustrasi{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 576px) {
	.content h1{
        font-size: 50px;
        line-height: 40px;
    }
    .content h2{
        font-size: 25px;
    }
}

@media only screen and (max-width: 400px) {
	.content h1{
        font-size: 40px;
    }
    .content h2{
        font-size: 20px;
    }
}